body {
  background-color: rgb(219, 219, 219) !important;
  overflow-x: auto;
  overflow-y: auto;
}

.wayne {
  font-size: 60px;
  margin-top: 100px;
  animation-duration: 3s;
  animation-name: slidein;
}

.badassSpace {
  margin-top: 22%;
}

.info {
  margin-top: 50px;
  margin-left: 4px;
  animation-duration: 3s;
  animation-name: slidein;
}

h4 {
  color: rgb(124, 124, 124);
  margin-top: 200px !important;
  margin-left: 4px;
  animation-duration: 3s;
  animation-name: slidein;
}

h2 {
  margin-top: 20px !important;
  margin-left: 4px;
  animation-duration: 3s;
  animation-name: slidein;
}

.aboutMe {
  margin-top: 300px !important;
}

.enterBut {
  margin-top: 10px;
  margin-bottom: 5px;
}
.matrix {
}

.share {
}

.fBook {
}

.lIn {
}

.social {
  margin: auto;
  width: 50%;
  text-align: center;
}

.tech {
  margin-top: 300px;
}

.image2 {
  margin: auto;
  width: 50%;
  text-align: center;
}

.fadeMove {
  font-size: 90px;
}
.move1 {
  position: absolute;
  top: 80px;
  margin-top: 20px !important;
  margin-left: 4px;
  animation-duration: 20s;
  animation-name: fadeOut;
  animation-iteration-count: infinite;
  z-index: -3;
}
.move2 {
  position: absolute;
  top: 150px;
  margin-top: 20px !important;
  margin-left: 8px;
  animation-duration: 16s;
  animation-name: fadeOut;
  animation-iteration-count: infinite;
  z-index: -3;
}
.move3 {
  position: absolute;
  top: 615px;
  margin-top: 20px !important;
  margin-left: 8px;
  animation-duration: 7s;
  animation-name: fadeOut;
  animation-iteration-count: infinite;
  z-index: -3;
}
.move4 {
  position: absolute;
  top: 264px;
  margin-top: 20px !important;
  margin-left: 13px;
  animation-duration: 18s;
  animation-name: fadeOut;
  animation-iteration-count: infinite;
  z-index: -3;
}

.move5 {
  position: absolute;
  top: 324px;
  margin-top: 20px !important;
  margin-left: 8px;
  animation-duration: 10s;
  animation-name: fadeOut;
  animation-iteration-count: infinite;
  z-index: -3;
}

.move6 {
  position: absolute;
  top: 468px;
  margin-top: 20px !important;
  margin-left: 8px;
  animation-duration: 5s;
  animation-name: fadeOut;
  animation-iteration-count: infinite;
  z-index: -3;
}

.move7 {
  position: absolute;
  top: 570px;
  margin-top: 20px !important;
  margin-left: 8px;
  animation-duration: 4s;
  animation-name: fadeOut;
  animation-iteration-count: infinite;
  z-index: -3;
}

.move8 {
  position: absolute;
  top: 860px;
  margin-top: 20px !important;
  margin-left: 8px;
  animation-duration: 8s;
  animation-name: fadeOut;
  animation-iteration-count: infinite;
  z-index: -3;
}

.move9 {
  position: absolute;
  top: 900px;
  margin-top: 20px !important;
  margin-left: 8px;
  animation-duration: 20s;
  animation-name: fadeOut;
  animation-iteration-count: infinite;
  z-index: -3;
}

.move10 {
  position: absolute;
  top: 532px;
  margin-top: 20px !important;
  margin-left: 8px;
  animation-duration: 16s;
  animation-name: fadeOut;
  animation-iteration-count: infinite;
  z-index: -3;
}

.move11 {
  position: absolute;
  top: 734px;
  margin-top: 20px !important;
  margin-left: 8px;
  animation-duration: 14s;
  animation-name: fadeOut;
  animation-iteration-count: infinite;
  z-index: -3;
}

.move12 {
  position: absolute;
  top: 850px;
  margin-top: 20px !important;
  margin-left: 8px;
  animation-duration: 18s;
  animation-name: fadeOut;
  animation-iteration-count: infinite;
  z-index: -3;
}

/* .fadeMove {
  animation: my-awesome-beboop 1s, pause-between-iterations 4s;
} */

.animate {
  margin-top: -760px;
  font-size: 400px;
  color: rgb(235, 39, 39);
  opacity: 0.2;
  animation-duration: 15s;
  animation-name: slideover;
  z-index: -9;
  /* animation-iteration-count: infinite; */
  /* animation-direction: forward; */
}
.animate2 {
  margin-top: -200px;
  font-size: 400px;
  opacity: 0.1;
  animation-duration: 15s;
  animation-name: slideover2;
  animation-iteration-count: infinite;
  /* animation-direction: forward; */
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideover {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin-bottom: 0%;
    width: 100%;
  }
}

@keyframes slideover2 {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes fadeOut {
  from {
    margin-left: 100%;
    width: 300%;
    opacity: 15%;
  }

  to {
    margin-left: 0%;
    width: 100%;
    opacity: 0%;
  }
}

@media screen and (max-width: 992px) {
  .animate {
    margin-top: -450px;
    font-size: 200px;
    color: rgb(235, 39, 39);
    opacity: 0.2;
    animation-duration: 15s;
    animation-name: slideover;
    /* animation-iteration-count: infinite; */
    /* animation-direction: forward; */
  }
}

/* @media screen and (max-width: 992px) {
  .animate {
    margin-top: -500px;
    font-size: 200px;
    color: rgb(235, 39, 39);
    opacity: 0.2;
    animation-duration: 15s;
    animation-name: slideover;

  }
} */
/*     ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Just a cool little Button */

.svg-wrapper {
  margin: auto;
  width: 50%;
  text-align: center;
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: rgb(235, 39, 39);
  opacity: 0.4;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: "Roboto Condensed";
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}
